<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/music.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <script src="/js/jquery-3.7.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="test">
        <ol>
            <!-- <% releases.forEach(data=> { %>
                <li>Artist: <%= JSON.stringify(data.basic_information.artists[0].name) %>, Title:
                        <%= JSON.stringify(data.basic_information.title) %>, Label: <%=
                                JSON.stringify(data.basic_information.labels[0].name) %>, Link: <a id="url"
                                    href="<%=data.basic_information.resource_url%>">
                                    <%= JSON.stringify(data.basic_information.resource_url) %>
                                </a>
                </li>
                <% }); %> -->

            <!-- <% for (let i=0; i < releases.length; i++) { %>
                <li>Artist: <%= JSON.stringify(releases[i].basic_information.artists[0].name) %>, Title:
                        <%= JSON.stringify(releases[i].basic_information.title) %>, Label: <%=
                                JSON.stringify(releases[i].basic_information.labels[0].name) %>, Link: <a id="url"
                                    href="<%=links[i]%>">
                                    <%= JSON.stringify(links[i]) %>
                                </a>
                </li>
                <% } %> -->

            <% for (let i=0;i<releases.length;i++){%>
                <li><a id="links" name="links" href="<%=links[i]%>">Artist: <%=
                            JSON.stringify(releases[i].basic_information.artists[0].name) %>
                            , Title:
                            <%= JSON.stringify(releases[i].basic_information.title) %>, Label: <%=
                                    JSON.stringify(releases[i].basic_information.labels[0].name) %></a>
                </li>
                <%}%>
        </ol>
    </div>

</body>

</html>